.titleContainer {
  background-color:white; 
  padding-top:5px; 
  padding-bottom:5px;
}

.titleText {
  margin-top:auto;
  margin-bottom:auto; 
  margin-left:-20px; 
  display:flex;
  font-weight:bold; 
  font-size:4vw;
}

.content {
  background-color:#ADEFD1FF; 
  color:#00203FFF;
}

.buttonFinish {
  width: 100%;
  font-size: 15px; 
  height: 50px;
  margin-top: 40px;
}

.subTitle {
  font-size: 11px; 
  margin-top: 20px; 
  margin-bottom: 0px;
}

.subTitle2 {
  font-size: 11px; 
  margin-bottom: 0px;
}
